.creation {
  margin: 2rem 0;
  height: 64px;
  display: flex;
  box-shadow: 0 1rem 1.5rem rgba(206, 206, 206, 0.281);
  background: white;
  border-radius: 5px;
  overflow: hidden;

  .roundUseless {
    width: 26px;
    height: 26px;
    border: 1px solid pink;
    border-radius: 50%;
  }

  input {
    flex: 1 1 auto;
    height: 100%;
    border: none;
    // width: 100%;
    background: white;

    &.dark {
      background: #25273c;
    }
  }
  &.dark {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.281);
    background: #25273c;
  }
}
