.actual-todo {
  max-width: 560px;
  height: auto;
  margin: 3rem auto;
  margin-bottom: 7rem;
  padding: 0 10px;
  position: relative;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
      color: white;
      font-size: 3rem;
      letter-spacing: 1.5rem;
    }
  }

  .body {
    width: 100%;
  }
}

@media (max-width: 515px) {
  .actual-todo {
    margin-bottom: 12rem;
  }
}
